<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "WEB-INF/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkh.todo.api.mapper.TodoMapper">

    <!-- 할일 상세 -->
    <select id="getTodo" resultType="com.mkh.todo.api.vo.TodoVO">
        SELECT
        WORK_TODO_SEQ as workTodoSeq,
        USER_SEQ as userSeq,
        SORT_NO as sortNo,
        TODO_NM as todoNm,
        STATUS as status,
        MOD_DT as modDt,
        MOD_ID as modId,
        REG_DT as regDt,
        REG_ID as regId
        FROM work_todo
        WHERE 1=1
    </select>

    <!-- 할일 수정 -->
    <update id="setTodo" parameterType="com.mkh.todo.api.vo.TodoVO">
        UPDATE work_todo
        SET MOD_DT = now()
        <if test='userSeq != null and userSeq != ""'>
        , USER_SEQ = #{userSeq}
        </if>
        <if test='sortNo != null and sortNo != ""'>
        , SORT_NO = #{sortNo}
        </if>
        <if test='todoNm != null and todoNm != ""'>
        , TODO_NM = #{todoNm}
        </if>
        , STATUS = #{status}
        <if test='modId != null and modId != ""'>
        , MOD_ID = #{modId}
        </if>
        WHERE WORK_TODO_SEQ = #{workTodoSeq}
    </update>

    <!-- 할일 등록 -->
    <insert id="addTodo" parameterType="com.mkh.todo.api.vo.TodoVO">
        INSERT INTO work_todo (
            WORK_TODO_SEQ, USER_SEQ, SORT_NO, TODO_NM, STATUS, REG_DT, REG_ID
        )
        select
            #{workTodoSeq}, 0, max(SORT_NO) + 1, #{todoNm}, '000', now(), #{regId}
        from work_todo where 1=1
    </insert>

    <!-- 할일 삭제 -->
    <delete id="delTodo" parameterType="com.mkh.todo.api.vo.TodoVO">
        DELETE FROM work_todo WHERE WORK_TODO_SEQ = #{workTodoSeq}
    </delete>
</mapper>