<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "WEB-INF/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkh.todo.api.mapper.WorkInfoMapper">
    
    <!-- 일과 상세 -->
    <select id="getWorkInfo" resultType="com.mkh.todo.api.vo.WorkInfoVO">
        SELECT
            wi.WORK_INFO_SEQ as workInfoSeq,
            wi.USER_SEQ as userSeq,
            wi.WORK_INFO as workInfo,
            wi.MOD_DT as modDt,
            wi.MOD_ID as modId,
            wi.REG_DT as regDt,
            wi.REG_ID as regId
        FROM work_info wi
        where DATE_FORMAT(now(), '%Y-%m-%d') = DATE_FORMAT(wi.REG_DT, '%Y-%m-%d')
        limit 1
    </select>

    <!-- 일과 수정 -->
    <update id="setWorkInfo" parameterType="com.mkh.todo.api.vo.WorkInfoVO">
        UPDATE work_info
        SET MOD_DT = now(),
<!--            USER_SEQ = #{userSeq},-->
            WORK_INFO = #{workInfo}
<!--            MOD_ID = {modId}-->
        WHERE WORK_INFO_SEQ = #{workInfoSeq}
    </update>

    <!-- 일과 등록 -->
    <insert id="addWorkInfo"  parameterType="com.mkh.todo.api.vo.WorkInfoVO">
        INSERT INTO work_info (USER_SEQ, WORK_INFO, REG_DT, REG_ID )
        VALUE (#{userSeq}, #{workInfo}, now(), #{reg_id})
    </insert>
</mapper>